main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.banner {
	width:100%;
}

/* PRINCIPAL  */

.principal {
	background: #FEFEFE;
	width: 940px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 40px 0;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	font-weight: 700;
}

.principal strong {
	font-weight: 700;
}

.principal em {
	font-style: italic;
}

/* MAPA  */

.mapa {
	background: linear-gradient(#FEFEFE, #888888);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 40px 0; */
}

.mapa-conteudo {
	width: 940px;
}

.mapa p {
	text-align: center;
}

.mapa-conteudo iframe{
	width: 100%;
	margin-top: 20px;
}

/* BENEFICIOS  */

.beneficios {
	background: #888888;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 40px 0;
}

.conteudo-beneficios {
	width: 940px;
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}

.lista-beneficios {
	font-size: 22px;
}

.itens {
	line-height: 2;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
	margin-right: 15px;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

/* RESPONSIVO  */

@media screen and (max-width:770px) {
	.principal, .mapa-conteudo, .conteudo-beneficios {
		width: 90%;
	}

	.beneficios {
		gap: 10px;
	}

	.conteudo-beneficios {
		flex-direction: column;
		align-items: center;
	}

	.conteudo-beneficios img {
		width: 100%;
	}
}